# Drop appropriate things in here.  .bak, *~ and the like do not
# belong in the repo unless explicitly PUSHED to the same.
*~
*.bak
*.o
*.ko
*.lock
cache
conf/sanity_info
downloads
sstate-cache
tmp
bitbake-cookerdaemon.log
pn-buildlist
recipe-depends.dot
task-depends.dot
xdg-3.0.2-py2.py3-none-any.whl
xdg-3.0.2.tar.gz
